

.Card {
    border: 1px solid rgba(white, .4);
    background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.08)
  );
  box-shadow: 
    0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
    border-radius: 1.3rem;
    padding: 2rem 2rem;
    font-family: "DM Sans";
    color: white;
    text-decoration: none;
    max-width: 90%;
    width: 500px;  // change

    transition: all .3s ease;

    &:hover {
        border: 1px solid rgba(white, .6);
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.07),
            rgba(255, 255, 255, 0.1)
          );
    }

    .headRow {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: .6rem;

        .agentName {
            font-size: 1.25rem;
            font-weight: 800;
            flex: 1;

            display: flex;
            gap: .5rem;
        }

        .info {
            display: flex;
            gap: .5rem;

            .category {
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to bottom, #ABBDFE, #B2A1FC);
                border: 2px solid #B2A1FC;
                padding: .1rem .4rem;
                border-radius: 2rem;
                color: black;
            }
    
            .status {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .2rem;
                background: rgba(0, 176, 53, .2);
                border: 1px solid #00B035;
                padding: .2rem .6rem;
                border-radius: 2rem;
                color: #0ed149;
                font-weight: 500;

                &.private {
                    background: rgba(255, 149, 0, 0.12);
                    border: 1px solid rgba(255, 149, 0, 1);
                    color: rgba(255, 149, 0, 1);
                }
            }
        }

    }

    .creator {
        margin-bottom: .5rem;
        max-width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3rem;
        font-size: 1rem;
        
        svg {
            margin: 0 .3rem;
        }
    }

    .descriptionAndEditContainer {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .cardDescription {
            // margin-bottom: 1.35rem;
            font-size: 1rem;
            font-weight: 300;
            opacity: .9;
            display: -webkit-box;       /* Enable flex container for text */
            -webkit-line-clamp: 2;      /* Limit to 2 lines */
            -webkit-box-orient: vertical; /* Set the text direction to vertical */
            overflow: hidden;           /* Hide overflowing text */
            text-overflow: ellipsis;
        }

        &:has(.editButtonContainer) {
            .editButtonContainer {

                a {
                    color: black;
                    height: 37px;
                    width: 37px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: .7rem;
                    border-style: none;

                    background: linear-gradient(to bottom, rgba(171, 189, 254, 1), rgba(178, 161, 252, 1));
                    cursor: pointer;

                    transition: all .3s ease;

                    &:hover {
                        filter: brightness(.6);
                    }

                    svg {
                        opacity: .8;
                    }
                }
            }
        }

    }

    .stats {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;

        .stat {
            font-weight: 400;

            .number {
                font-weight: 600;
                color: #a9bbfc;
                font-size: .9rem;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: .5rem;
        margin-top: 1.3rem !important;
        position: relative;
        // height: 40%;


        button {
            font-family: "DM Sans";
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: -.2px;
            text-transform: none;
            padding: .6rem 1rem;
            border-radius: .7rem;
            border: none;
            cursor: pointer;
            font-weight: 500;
            transition: .2s;
            width: 100%;
            
            &.filled {
                background-color: #ABBDFE;
                color: black;
            }

            &.outlined {
                background-color: transparent;
                color: white;
                border: 1.5px solid #8596d3;

                &:hover {
                    background-color: #8596d3;
                    color: black;
                }
            }

            &:hover {
                background-color: #8596d3;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .Card {
        // width: 80% !important;
        padding: 1rem;
    }
    
}